* {
    margin: 0;
    padding: 0;
} 

body{
    background: hsl(241, 100%, 8%);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
header{
    height: 100vh;
    
    display: flex;
    width: 100%;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
}
.parallax {
    /* The image used */
    background-image: url("./images/background.jpg");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundimage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.socialbar{
    position: absolute;
    list-style-type: none;
    background-color: rgba(9, 14, 80, 0.192);
    top: 5px;
}
.socials {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li a:hover {
    background-color: rgba(17, 17, 17, 0.411);
}

.headertxt{
    position: absolute;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 250px;
    padding:10px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 25px;
}
article{
    overflow: auto;
    display: flex;
    align-items: center;
    height:100%;
    position: relative;
}
.bodytxt{
    padding:20px;
    background: hsl(0, 0%, 100%);
    margin: 0 80px 5px 80px;
    display: block;
    border-radius: 0px 0px 25px 25px;
}
.projectdetails{
    float: left;
    margin: 10px;
    width: 100%;
    box-shadow: 25px 25px rgba(0,0,0,.15);
    padding: 10px;
    background: hsl(0, 0%, 95%);;
}
.date{
    margin-left: 10px;
    float: left;
    font-size: 15px;
    width: 80px;
    display: block;
}
.imagecontainer{
    max-width: 100%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}
.vl {
    border-left: 2px solid black;
    margin-left: 22px;
    height:100%;
    position: absolute;
}
i{
    font-size: 15px;
}

@media screen and (max-width: 600px)
{
    .bodytxt{
        margin: 0 0px 10px 0px !important;
    }
}