* {
    margin: 0;
    padding: 0;
} 

html, body{
    background: hsl(234, 47%, 66%);
    height: 100%;
}

header{
    background-color: aqua;
    height: 100%;
    
    display: flex;
    width: 100%;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
}
.backgroundimage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.headertxt{
    position: absolute;
    text-align: center;
    color: white;
    margin-bottom: 225px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
article{
    overflow: auto;
    display: flex;
    align-items: center;
    height:100%;
    position: relative;
}
.bodytxt{
    padding:20px;
    background: hsl(0, 0%, 100%);
    margin-left: 80px;
    margin-right: 80px;
}
.projectdetails{
    float: left;
    margin: 10px;
}
.date{
    margin-left: 10px;
    float: left;
    font-size: 15px;
}
.imagecontainer{
    max-width: 100%;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}
.vl {
    border-left: 2px solid black;
    margin-left: 22px;
    height:100%;
    position: absolute;
}
@media screen and (max-width: 600px)
{
    .bodytxt{
        margin-left: 0px;
        margin-right: 0px;
    }
}